body{
    background-color: aliceblue;
}
.box{
    display: flexbox;
    width: 450px;
    position: relative;
    border-radius: 20px;
    background: white;
 
}
.img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.summary{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.description{
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.plan_bold{
    font-weight:bold ;
}